<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
    <link rel="stylesheet" href="../../styles/globals.css" />
    <link rel="stylesheet" href="../../styles/admin/product.css" />
  </head>
  <body>
    <div class="admin-header">
      <a href="/admin">
        <img src="../../assets/logo.png" alt="Barista Garage Logo" />
        <h1>Dashboard</h1>
      </a>
    </div>

    <div class="container">
      <h1>Edit Product</h1>

      <form method="post" enctype="multipart/form-data">
        <section>
          <h3>General Information:</h3>

          <div class="input-field">
            <label for="name">Product Name:</label>
            <input type="text" name="product_name" class="product_name" />
          </div>

          <div class="input-field">
            <label for="category">Product Catergory:</label>

            <select name="category" class="category">
              <option value="Bar Blender">Bar Blender</option>
              <option value="Barista Tools">Barista Tool</option>
              <option value="Personal Coffee Gear">Personal Coffee Gear</option>
              <option value="Coffee Shop Essentials">
                Coffee Shop Essential
              </option>
              <option value="Ice Machine">Ice Machine</option>
              <option value="Beans">Beans</option>
            </select>
          </div>

          <div class="input-field">
            <label for="image">Product Image:</label>
            <input type="file" name="image" class="image" />
          </div>

          <div class="input-field">
            <label for="description">Description:</label>
            <textarea
              type="text"
              name="description"
              class="description"
            ></textarea>
          </div>
        </section>

        <section>
          <h3>Specifications</h3>

          <div class="input-field">
            <label for="version">Version:</label>
            <input type="text" name="version" class="version" />
          </div>

          <div class="input-field">
            <label for="height">Height:</label>
            <input type="text" name="height" class="height" />
          </div>

          <div class="input-field">
            <label for="width">Weight:</label>
            <input type="text" name="weight" class="weight" />
          </div>

          <div class="input-field">
            <label for="depth">Depth:</label>
            <input type="text" name="depth" class="depth" />
          </div>

          <div class="input-field">
            <label for="beans_capacity">Beans Capacity:</label>
            <input type="text" name="beans_capacity" class="beans_capacity" />
          </div>
        </section>

        <button
          type="submit"
          onclick="submitForm(event)"
          class="submit"
          disabled
        >
          Confirm Edits
        </button>
        <button class="delete">Delete</button>
      </form>
    </div>

    <script src="../../scripts/admin/edit-product.js"></script>
  </body>
</html>
