<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barista Garage</title>

    <link rel="stylesheet" href="./styles/globals.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>

    <header>
        <a href="/"><img src="./assets/logo.png" alt="Barista Garage logo"></a>

        <nav>
            <a href="/about">About Us</a>
            <a onclick="showOverlay('machines')">Espresso Machine</a>
            <a href="/grinders">Espresso Grinder</a>
            <a href="/beans">Beans</a>
            <a onclick="showOverlay('accessories')">Accessories</a>
            <a href="#">Service & Training</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>

    <div class="container">
        <div class="overlay overlay-machines">
            <div class="overlay-text">
                <h1>Our Range</h1> <br>
                <p>At Barista Garage, we pride ourselves on being the epitome of comprehensive coffee solutions, offering a one-stop destination for a diverse array of consumers. Whether you are a discerning homeowner, managing a bustling office, or overseeing a large-scale business operation, Barista Garage is your unwavering partner in meeting all your coffee-related needs.</p>
            </div>
    
            <div class="overlay-options">
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/bar.jpeg" alt="Commercial Espresso Machines">
                    <h3>Commercial Espresso Machines</h3>
                </div>
    
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/tools.jpg" alt="Coffee Vending Machines">
                    <h3>Coffee Vending Machines</h3>
                </div>
    
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/e.jpg" alt="Capsule Coffee Machines">
                    <h3>Capsule Coffee Machines</h3>
                </div>
            </div>
        </div>
    
        <div class="overlay overlay-accessories">
            <div class="overlay-text">
                <h1>Our Range</h1> <br>
                <p>At Barista Garage, we pride ourselves on being the epitome of comprehensive coffee solutions, offering a one-stop destination for a diverse array of consumers. Whether you are a discerning homeowner, managing a bustling office, or overseeing a large-scale business operation, Barista Garage is your unwavering partner in meeting all your coffee-related needs.</p>
            </div>
    
            <div class="overlay-options">
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/bar.jpeg" alt="Bar Blender">
                    <h3>Bar Blender</h3>
                </div>
    
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/tools.jpg" alt="Barista Tools">
                    <h3>Barista Tools</h3>
                </div>
    
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/e.jpg" alt="Personal Coffee Gear">
                    <h3>Personal Coffee Gear</h3>
                </div>
    
                <div class="overlay-option">
                    <img src="https://baristagarage.com/Image/personal.jpeg" alt="Coffee Shop Essesntials">
                    <h3>Coffee Shop Essesntials</h3>
                </div>
            </div>
        </div>
    
        <div class="hero">
            <section>
                <h5>Barista Garage</h5>
                <h1>Made to fulfill your needs</h1>
                <p>Unleash Your Inner Barista: Elevate Your Brew with Barista Garage – Your Ultimate Destination for Premium Coffee Machines & Accessories!</p>
    
                <a href="/about" class="button">Learn More</a>
            </section>
        </div>
    
        <main>
            <div class="product-spotlight">
                <div class="card link-card">
                    <h2>Explore Our Line of Espresso Machines</h2>
                </div>
        
                <div class="card">
                    <img src="https://baristagarage.com/Image/202402090819Aulika-Evo-Black.webp" alt="Saeco Aulika Evo Black">
                    <h3>Saeco Aulika Evo Black</h3>
                </div>
    
                <div class="card">
                    <img src="https://baristagarage.com/Image/202402090819Aulika-Evo-Black.webp" alt="Saeco Aulika Evo Black">
                    <h3>Saeco Aulika Evo Black</h3>
                </div>
    
                <div class="card">
                    <img src="https://baristagarage.com/Image/202402090819Aulika-Evo-Black.webp" alt="Saeco Aulika Evo Black">
                    <h3>Saeco Aulika Evo Black</h3>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Coffee Vending Machines</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402211726krea-prime-espresso_hero_2x.png" alt="Krea Prime">
                        <h3>Krea Prime</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402211718korinto-prime-espresso_hero_2x.png" alt="Korinto Prime">
                        <h3>Korinto Prime</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402211704Kalea_side_hero.png" alt="Kalea">
                        <h3>Kalea</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402211657header-kometa.png" alt="Kometa">
                        <h3>Kometa</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Capsule Coffee Machines</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/20240223060400196138_200_00.jpg" alt="Nespresso Coffee Machine Inissia BLK and Aeroccino">
                        <h3>Nespresso Coffee Machine Inissia BLK and Aeroccino</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402230603100086346_200_01.jpg" alt="Nespresso VertuoPlus Machine-Silver">
                        <h3>Nespresso VertuoPlus Machine-Silver</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402230600100086348_200_01.jpg" alt="Nespresso VertuoPlus Machine, White+Aeroccino">
                        <h3>Nespresso VertuoPlus Machine, White+Aeroccino</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/20240223055851oLcSbhcuL._AC_SX569_.jpg" alt="VertuoPlus Deluxe Matte Black">
                        <h3>VertuoPlus Deluxe Matte Black</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Espresso Grinders</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231642mito-TR-75-elettronico-dosatore_ritoccata-b8b4f59f.webp" alt="CONICAL TOP MYTH">
                        <h3>CONICAL TOP MYTH</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231639genio-01-e67b8ac4.webp" alt="GENIUS">
                        <h3>GENIUS</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402230647mito-OD-base-313e136b%20(1).webp" alt="MYTH ON DEMAND 75">
                        <h3>MYTH ON DEMAND 75</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402230643mito-OD-base-313e136b.webp" alt="MITO ON DEMAND 64">
                        <h3>MITO ON DEMAND 64</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Bar Blender</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/2024022317306644.jpg" alt="JTC Omni Blender With Sound Enclosure">
                        <h3>JTC Omni Blender With Sound Enclosure</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231728TM767-A.jpg" alt="JTC Omni Blend V Model TM767A">
                        <h3>JTC Omni Blend V Model TM767A</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231709JTC-OmniBlend-Australia-Blender-Products-Domestic-Commercial-Cafe-Restaurant-Home-Green-Smoothie-Acai-Bowl-Nut-Butter-Ice-Nice-Cream-4.jpg" alt="JTC Omni Blend V Model TM800A">
                        <h3>JTC Omni Blend V Model TM800A</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231706JTC-1.5-litre-extra-Jar.jpeg" alt="JTC 1.5 litre extra Jar">
                        <h3>JTC 1.5 litre extra Jar</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Barista Tools</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231757cleaning-brush.jpeg" alt="Cleaning Brush">
                        <h3>Cleaning Brush</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231859Milk-Pitcher-600-ML.jpg" alt="Milk Pitcher 600 ML">
                        <h3>Milk Pitcher 600 ML</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231755Shot-Glass.jpg" alt="Shot Glass">
                        <h3>Shot Glass</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/20240223175441kRMkg3WCL.jpg" alt="Espresso Tamping Mat Tamper Holder">
                        <h3>Espresso Tamping Mat Tamper Holder</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Personal Coffee Gear</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231803V6-For-Coffee-Planet-.jpeg" alt="V6 Coffee Brewer Personal / Cafe Use">
                        <h3>V6 Coffee Brewer Personal / Cafe Use</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231802PHOTO-2022-10-17-14-40-28.jpg" alt="French Press Coffee Maker">
                        <h3>French Press Coffee Maker</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231801IMG_70989879.jpg" alt="Coffee Hand Grinder For Home Use / Personal Use">
                        <h3>Coffee Hand Grinder</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231801basic-moka-pot-.jpg" alt="Moka Pot">
                        <h3>Moka Pot</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    
            <div class="product-showcase">
                <div class="heading">
                    <h1>Coffee Shop Essentials</h1>
                    <a href="#" class="button">See More</a>
                </div>
    
                <hr>
    
                <div class="showcase">
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231810CPB.webp" alt="Whipped Cream Dispenser">
                        <h3>Whipped Cream Dispenser</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231809mocktailcpb-e1702528669387%20(1).jpg" alt="Professional Cocktail Shaker 700ml Stainless Steel">
                        <h3>Professional Cocktail Shaker 700ml Stainless Steel</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231808Blue.jpeg" alt="Barista Apron ( Denim Fabrics ) Colour Blue">
                        <h3>Barista Apron ( Denim Fabrics ) Colour Blue</h3>
                        <a href="#">Learn More</a>
                    </div>
    
                    <div class="card">
                        <img src="https://baristagarage.com/Image/202402231807Black.jpeg" alt="Barista Apron ( Denim Fabrics ) Colour Black">
                        <h3>Barista Apron ( Denim Fabrics ) Colour Black</h3>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
    </div>
    
        <script src="./scripts/header.js"></script>
    </main>
</body>
</html>