.heading {
    padding: 3rem;
    background: #f4f4f4;
}

.heading h1 {
    color: #10548c;
    font-weight: lighter;
}

main {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 250px);
}

.grid-item {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.1s;
  cursor: pointer;
}

.grid-item h3 {
  text-transform: uppercase;
  font-weight: lighter;
  transition: 0.1s;
}

.grid-item-button {
  background: white;
  color: #10548c;
  width: fit-content;
  padding: 0.8rem 1.4rem;
  margin-top: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition: 0.1s;
}

.grid-item img {
  transition: 0.15s;
  width: 150px;
}

.grid-item:hover {
  background: #10548c;
  color: white;
}

.grid-item:hover img {
  width: 180px;
}
  